<% content_for :head do %>
  <%= stylesheet_link_tag 'avatares', media: 'screen', data: { turbo_track: 'reload' } %>
  <%= javascript_include_tag 'avatares', defer: true, data: { turbo_track: 'reload' } %>
<% end %>

<div class="row avatar-popup-form">
  <div class="col-12 col-lg-6 text-center">
    <%= inline_svg_tag "person.svg", id: "js-user-avatar-preview", size: "256px*256px" %>
  </div>
    
  <div class="col-12 col-lg-6 d-flex align-items-center">
    <div class="w-100">
      <%= form_for @user, url: spree.edit_user_path(@user), method: :put do |f| %>
<% byebug %>

        <%= f.file_field :avatar, id: "js-avatar-file", class: "hidden" %>
        <%= f.submit Spree.t(:update), class: 'btn btn-block btn-primary spree-btn' %>
      <% end if can? :update, @user  %>
    </div>
  </div>
</div>