<% content_for :head do %>
  <%= stylesheet_link_tag 'avatares/styles.css', media: 'screen', data: { turbo_track: 'reload' } %>
  <%= javascript_include_tag 'avatares/javascript.js', defer: true, data: { turbo_track: 'reload' } %>
<% end %>

<%= form_for avatarable, url: avatares.avatar_path, remote: true, html: {id: "avataresForm"} do |f| %>
  <%= f.file_field :avatar, id: "avataresInput", class: "d-none" %>
  <%= f.hidden_field "crop_x", id:"crop_x" %>
  <%= f.hidden_field "crop_y", id:"crop_y" %>
  <%= f.hidden_field "crop_w", id:"crop_w" %>
  <%= f.hidden_field "crop_h", id:"crop_h" %>
  <%= f.submit "#", class: "d-none" %>
<% end %>

<div class="modal fade" id="avataresPopup" tabindex="-1" role="dialog" aria-labelledby="avatarPopupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t(:avatar_crop, scope: :avatares) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="d-inline-block">
          <%= image_tag "", id: "avataresPicture", size: 256 %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="avataresCrop" class="btn btn-block btn-primary">
          <%= t(:update, scope: :avatares) %>
        </button>
      </div>
    </div>
  </div>
</div>

